.PriorityPicker {
  display: flex;
  font-size: 14px;
  border: none;
  color: grey;
}

.PriorityPicker__swatch {
  border-radius: 10px;
  cursor: pointer;
  margin: 2px 2px 2px 2px;
  padding: 4px 4px 4px 4px;

  &:hover {
      border: 2px solid grey;
      margin: 0px 0px;
  }

  &.selected {
      border: 2px solid grey;
      margin: 0px 0px;
      color: white;
      background: grey;
  }
}
